<div class="combatSimulation displayNone" id="combatSimulation">
    <div class="defaultBox">
        <div class="title">
            <div class="angolo_sinistro"></div>
            <div class="content">
                Conquista
            </div>
            <div class="angolo_destro"></div>
        </div>
        <div class="simulation">
            <div class="player" player1>
                <div class="nome">
                    {{conquestResult.squadra1}}
                </div>
                <div class="armate">
                    {{conquestResult.armate1}}
                </div>
                <div class="livello">
                    <div class="livelloBall" *ngFor="let b of createRange(conquestResult.livello1+1)"></div>
                </div>
            </div>
            <div class="vs">VS</div>
            <div class="player" player2>
                <div class="nome">
                    {{conquestResult.squadra2}}
                </div>
                <div class="armate">
                    {{conquestResult.armate2}}
                </div>
                <div class="livello">
                    <div class="livelloBall" *ngFor="let b of createRange(conquestResult.livello2+1)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="componentContainer" id="gameContainer">
    <div class="defaultBox mapBox">
        <div class="mapContainer">
            <div class="map continente" id="contrainingMap"></div>
        </div>
    </div>
    <div class="defaultBox navBox">
        <div class="title">
            <div class="angolo_sinistro"></div>
            <div class="content">
                Pannello
            </div>
            <div class="angolo_destro"></div>
        </div>
        <div class="mapNavigator">
            <div id="mainPanel">
                <div class="dataBlock">
                    <div class="title">players</div>
                    <div class="data">
                        <span class="nomeSquadra" *ngFor="let p of players">{{p}}</span>
                    </div>
                </div>
                
                <div class="dataBlock">
                    <div class="title">Territori posseduti</div>
                    <div class="data">
                        <div class="elements">
                            <div *ngFor="let elem of conquistati;">
                                <a class="button" (mouseenter)="overElement($event.target)" (mouseleave)="leaveElement()" (click)="clickOnConquistato($event.target)">{{elem.id}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataBlock">
                    <div class="title">Conquista</div>
                    <div class="data">
                        <div class="elements">
                            <div *ngFor="let elem of confinanti;">
                                <a class="button" (mouseenter)="overElement($event.target)" (mouseleave)="leaveElement()" (click)="clickOnConfinanti($event.target)">{{elem.id}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--<div class="elements">
                    <div *ngFor="let n of createRange(42); let i = index;">
                        <a class="button" (mouseenter)="overElement($event.target)" (mouseleave)="leaveElement()">{{n}}</a>
                    </div>
                </div>-->
            </div>
            <div id="infoTerritorio">
                <div class="back">
                    <a class="button" (click)="goBack()">Indietro</a>
                </div>
                <div class="dataBlock">
                    <div class="title">info</div>
                    <div class="data" >
                        Territorio: {{territorioSelezionato.id}}<br />
                        Posseduto da: {{territorioSelezionato.owner}}<br />
                        Armate posizionate: {{territorioSelezionato.armate}}<br />
                        Categoria : {{territorioSelezionato.category.argomento}}
                    </div>
                </div>
                <div class="dataBlock">
                    <div class="title">azioni</div>
                    <div class="data">
                        <div class="actions displayNone" azioni_conquistati>
                            <label>Seleziona il livello del test</label>
                            <select [(ngModel)]="selectedLevel">
                                <option *ngFor="let l of levels" [ngValue]="l.level">{{l.value}}</option>
                            </select>

                            <a class="button" (click)="rinforza()">Rinforza</a>
                        </div>
                        <div class="actions displayNone" azioni_confinanti>
                            <label>Seleziona il livello del test</label>
                            <select [(ngModel)]="selectedLevel">
                                <option *ngFor="let l of levels" [ngValue]="l.level">{{l.value}}</option>
                            </select>
                            
                            <label>Seleziona il territorio da cui spostare le armate</label>
                            <select [(ngModel)]="attacker">
                                <option *ngFor="let a of attackers" [ngValue]="a">{{a.id}}</option>
                            </select>
                            <label>Seleziona il numero di armate da utilizzare</label>
                            <select [(ngModel)]="attackerArmate">
                                <option *ngFor="let n of createRange(attacker.armate)" [ngValue]="n">{{n}}</option>
                            </select>

                            <a conquista class="button" (click)="conquista()">Conquista</a>
                            <a occupa class="button" (click)="occupa()">Occupa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
