div.componentContainer {
    position: relative;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.defaultBox {
    height: 100%;
}
div.mapBox {
    width:75%;
}
div.navBox {
    width: 24%;
}
div.mapContainer {
    position: relative;
    display: flex;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
div.mapNavigator {
    position: relative;
    height: calc(100% - 5vh);
    width: 100%;
    display: flex;
    top:0;
    left:0;
    padding:0;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
div.mapNavigator div {
    display: flex;
    position: relative;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div.mapNavigator div div.back {
    position: relative;
    top: 0;
    left:0;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vh;

    overflow: hidden;
}

div.mapNavigator div div.dataBlock {
    position: relative;
    top:0;
    left:0;
    height: auto;
    width: 90%;
    padding-top: 3vh;
}

div.dataBlock div.title {
    position: relative;
    top:0;
    left:0;
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;

    font-size: 2.5vh;
    color: rgb(0, 197, 194);
    text-transform: uppercase;
    border-bottom: 0.1vh solid rgb(0, 197, 194);
}
div.dataBlock div.data {
    position: relative;
    display: flex;
    top:0;
    left:0;
    height: auto;
    width: 100%;
    padding:0;
    padding-top:2vh;
    padding-bottom: 3vh;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    color: rgb(220, 220, 220);
}

div.actions {
    position: relative;
    height: auto;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div.actions * {
    margin-top:1vh;
    margin-bottom: 1vh;
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
}
div.actions > select {
    position:relative;
    height: 4vh;
    border: 0.1vh solid rgb(0, 197, 194);
    border-radius: 1vh;
    background-color: hsl(179, 40%, 11%);
    color: rgb(220, 220, 220);
    font-size: 2vh;
    margin:0;
    margin-bottom: 3vh;
}
div.actions > label {
    position: relative;
    height: auto;
    width: 100%;
    top:0;
    left:0;
    margin:0;
    margin-top: 3vh;
    margin-bottom: 1vh;
    color: rgb(220, 220, 220);
    font-size: 2vh;
}

span.nomeSquadra {
    display: flex;
    position: relative;
    height: 4vh;
    width: 48%;
    top:0;
    left:0;

    flex-direction: row;
    justify-content: center;
    align-items: center;

}

div.dataBlock div.data div.elements {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    top:0;
    left:0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
div.dataBlock div.data div.elements div {
    position: relative;
    top:0;
    left:0;
    height: 5vh;
    width: 17%;
    box-sizing: border-box;
    margin:1vh;
    border:0;
}
div.dataBlock div.data div.elements div a.button {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-align: center;
}

div.dataBlock div.data div.elements div a.disabled {
    background-color: rgba(40, 40, 40, 0.12);
    border: 0;
    cursor: default;
}




div.map {
    position: relative;
    top: 0;
    left:0;
    height: calc(100% - 12vh);
    width: 100%;
    box-sizing: border-box;
    
    font-size: 0;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    background-attachment: local;
    background-repeat: no-repeat;
}

/* WORLD, blank + colors */
.continente {
    background-image: url('../../../assets/map/continente.svg');
}
.continente_1 {
    background-image: url('../../../assets/map/parts/part_1.svg');
}
.continente_2 {
    background-image: url('../../../assets/map/parts/part_2.svg');
}
.continente_3 {
    background-image: url('../../../assets/map/parts/part_3.svg');
}
.continente_4 {
    background-image: url('../../../assets/map/parts/part_4.svg');
}
.continente_5 {
    background-image: url('../../../assets/map/parts/part_5.svg');
}
.continente_6 {
    background-image: url('../../../assets/map/parts/part_6.svg');
}
.continente_7 {
    background-image: url('../../../assets/map/parts/part_7.svg');
}
.continente_8 {
    background-image: url('../../../assets/map/parts/part_8.svg');
}
.continente_9 {
    background-image: url('../../../assets/map/parts/part_9.svg');
}
.continente_10 {
    background-image: url('../../../assets/map/parts/part_10.svg');
}
.continente_11 {
    background-image: url('../../../assets/map/parts/part_11.svg');
}
.continente_12 {
    background-image: url('../../../assets/map/parts/part_12.svg');
}
.continente_13 {
    background-image: url('../../../assets/map/parts/part_13.svg');
}
.continente_14 {
    background-image: url('../../../assets/map/parts/part_14.svg');
}
.continente_15 {
    background-image: url('../../../assets/map/parts/part_15.svg');
}
.continente_16 {
    background-image: url('../../../assets/map/parts/part_16.svg');
}
.continente_17 {
    background-image: url('../../../assets/map/parts/part_17.svg');
}
.continente_18 {
    background-image: url('../../../assets/map/parts/part_18.svg');
}
.continente_19 {
    background-image: url('../../../assets/map/parts/part_19.svg');
}
.continente_20 {
    background-image: url('../../../assets/map/parts/part_20.svg');
}
.continente_21 {
    background-image: url('../../../assets/map/parts/part_21.svg');
}
.continente_22 {
    background-image: url('../../../assets/map/parts/part_22.svg');
}
.continente_23 {
    background-image: url('../../../assets/map/parts/part_23.svg');
}
.continente_24 {
    background-image: url('../../../assets/map/parts/part_24.svg');
}
.continente_25 {
    background-image: url('../../../assets/map/parts/part_25.svg');
}
.continente_26 {
    background-image: url('../../../assets/map/parts/part_26.svg');
}
.continente_27 {
    background-image: url('../../../assets/map/parts/part_27.svg');
}
.continente_28 {
    background-image: url('../../../assets/map/parts/part_28.svg');
}
.continente_29 {
    background-image: url('../../../assets/map/parts/part_29.svg');
}
.continente_30 {
    background-image: url('../../../assets/map/parts/part_30.svg');
}
.continente_31 {
    background-image: url('../../../assets/map/parts/part_31.svg');
}
.continente_32 {
    background-image: url('../../../assets/map/parts/part_32.svg');
}
.continente_33 {
    background-image: url('../../../assets/map/parts/part_33.svg');
}
.continente_34 {
    background-image: url('../../../assets/map/parts/part_34.svg');
}
.continente_35 {
    background-image: url('../../../assets/map/parts/part_35.svg');
}
.continente_36 {
    background-image: url('../../../assets/map/parts/part_36.svg');
}
.continente_37 {
    background-image: url('../../../assets/map/parts/part_37.svg');
}
.continente_38 {
    background-image: url('../../../assets/map/parts/part_38.svg');
}
.continente_39 {
    background-image: url('../../../assets/map/parts/part_39.svg');
}
.continente_40 {
    background-image: url('../../../assets/map/parts/part_40.svg');
}
.continente_41 {
    background-image: url('../../../assets/map/parts/part_41.svg');
}
.continente_42 {
    background-image: url('../../../assets/map/parts/part_42.svg');
}


div.combatSimulation {
    position: fixed;
    height: 100vh;
    width:100vw;
    top:0;
    left:0;

    overflow: hidden;
    padding: 5vh;
    z-index: 1000;
}

div.combatSimulation * {
    color: rgb(220, 220, 220);
}

div.combatSimulation div.simulation {
    position: relative;
    display: flex;
    height: calc(100% - 5vh);
    width: 100%;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.simulation > div {
    position: relative;
    height: 100%;
    width: 33.33%;
    top: 0;
    left:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div.simulation div.vs {
    font-size: 6vh;
}

div.player > div {
    position: relative;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
div.player div.nome {
    height: 25vh;
    font-size: 8vh;
}

div.player div.armate {
    height: 25vh;
    font-size: 12vh;
}

div.player div.livello {
    height: 8vh;
}

div.livelloBall {
    position: relative;
    top:0;
    left:0;
    height: 3vh;
    width: 3vh;
    background-color: rgb(220, 220, 220);
    border-radius:50%;
    margin: 1vh;
}
